@import url(https://db.onlinewebfonts.com/c/f88131c65699aa3628cba2f1ee8f60d8?family=Bauer+Bodoni+Black);

@media (max-width: 468px) {
  .contHabi {
    padding-left: 10%;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    align-items: center;
  }
  #idiomas {
    align-items: center;
  }

  .contAcad {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .contLaboral {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .laboral:nth-child(1) {
    grid-column: span 1;
    grid-row: span 1;
  }
  .laboral:nth-child(2) {
    grid-column: span 1;
    grid-row: span 1;
  }
  .laboral:nth-child(3) {
    grid-column: span 1;
    grid-row: span 1;
  }
  .laboral p {
    text-align: center;

    font-size: 1rem;
  }
  .laboral li {
    margin-left: 15%;
    font-size: 0.95rem;
  }

  header p {
    text-align: center;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.3rem;
  }

  h3 {
    font-size: 1.5rem;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  nav p {
    text-align: center;
    font-size: 0.75rem;
  }
}

@media (max-width: 768px) or (min-width: 469px) {
  .flex-habi {
    display: flex;

    flex-direction: row;
  }
  .contHabi {
    padding-left: 10%;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    align-items: center;
  }
  .habilidad{
    padding-right: 30%;
  }
  .contHabi:nth-child(1) {
    grid-column: span 1;
  }

  .contHabi:nth-child(2) {
    grid-column: span 1;
  }

  #idiomas {
    align-items: center;
  }
  .contAcad {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .contLaboral {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 5px;
  }

  .laboral li {
    text-align: left;
    padding-right: 5%;
    font-size: 0.80rem;
  }
  .contLaboral:nth-child(1) {
    grid-column: span 2;
  }
  .contLaboral:nth-child(2) {
    grid-column: span 1;
  }
  .contLaboral:nth-child(3) {
    grid-column: span 1;
  }
  .laboral p {
    text-align: center;
    font-size: 0.75rem;
  }
  .laboral li {
    text-align: center;
    font-size: 0.75rem;
  }

  header p {
    text-align: center;
  }
  h2 {
    font-size: 2rem;
  }
  h1 {
    font-size: 3rem;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
  }
  nav p {
    text-align: center;
    font-size: 1rem;
  }
}

@media (min-width: 768.1px) {
  h1 {
    font-size: 3rem;
  }
  header p {
    text-align: center;
    font-size: 2rem;
  }
  h2 {
    font-size: 3rem;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
  }
  nav p {
    text-align: center;
    font-size: 2rem;
  }
}

h1 {
  text-align: center;
  color: #365d64;
  font-family: "Bauer Bodoni Black";
}
h2 {
  text-align: center;
  color: #365d64;
  font-family: "Bauer Bodoni Black";
}
h3 {
  text-align: center;
  color: #365d64;
  font-family: "Bauer Bodoni Black";
}
body {
  background-color: #eae4dc;
}

.contLaboral {
  display: grid;
  gap: 10px;
}

.laboral {
  background-color: #d8b8ae;
  border-radius: 8px;
}

.academico {
  background-color: #d8b8ae;
  border-radius: 8px;
  gap: 10px;
}

p {
  text-align: center;
}
.flex-habi {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.contHabi {
  display: grid;
  background-color: #d8b8ae;
  border-radius: 8px;
}

.idioma {
  background-color: #ba9488;
  border-radius: 3px;
}
.lenguaje {
  background-color: #9f8279;
  border-radius: 3px;
}

.nivel {
  color: #7b5144;
}
