@import url(https://db.onlinewebfonts.com/c/f88131c65699aa3628cba2f1ee8f60d8?family=Bauer+Bodoni+Black);


@media (max-width: 468px) {
    header p{
        text-align: center;

    }
    h2{
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
}

@media (min-width: 768px) {
}



h1{
    text-align: center;
    color: #365d64;
    font-family: 'Bauer Bodoni Black';
}
h2{
    text-align: center;
    color: #365d64;
    font-family: 'Bauer Bodoni Black';
}
body{
    background-color: #eae4dc;
}
